<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">K-Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link" routerLink="/shopping-cart">Shopping Cart</a>
            </li>
            <ng-template #anonUser>
              <li class="nav-item">
                <a class="nav-link" routerLink="/login">Login</a>
              </li>
            </ng-template>
            <li *ngIf="user; else anonUser" class="nav-item dropdown" ngbDropdown>
              <a id="dropdown01" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                {{ user.name }}
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
                <a class="dropdown-item" routerLink="/my-orders">My Orders</a>
                <ng-container *ngIf="user.isAdmin">
                  <a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
                  <a class="dropdown-item" routerLink="/admin/products">Manage Products</a>
                </ng-container>
                <a class="dropdown-item" (click)="logout()">Log Out</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  